*{
    margin: 0;
    padding: 0;
}
body{
    background-color:gray;
}
.container{
    
    width: 900px;
    margin: auto;
}
.main{
    padding: 10px;
    width: 600px;
    margin: 0 auto;
    background-color: white;
    border-radius: 7px;
    margin-top: 30px;
    
}
.fontsmall{
    font-size: 20px;
}
.formcontainer{
    display: grid;
    margin-top: 14px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
.content{
    display: flex;
    flex-direction: column;
}
label{
    font-size: 17px;
    margin-bottom: 3px;
}
input{
    padding: 5px 8px;
    border: 1px solid gray;
    border-radius: 5px ;
}
select{
       padding: 4px 6px;
    border: 1px solid #836f6f;
    border-radius: 5px;
}
.textarea{
    display: grid;
grid-column: 1 / span 2;
}
.textarea input{
    height: 47px;
}
button{
    justify-content: end;
    border: orangered;
    display: flex;
    width: 64px;
    margin-top: 16px;
    margin-left: 530px;
    height: 22px;
    color: white;
    background-color: orangered;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
}
